/* Clients View */
#clients-tabs {
	overflow: hidden;
}

.client-category-tab {
	text-decoration: none;
	float: left;
	width: 100px;
	color: #444444;
	padding: 4px;
	margin: 0 30px 0 0;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #cccccc;
	background-color: #e9e9e9;
}

.client-category-tab-active {
	background-color: #cccccc;
	border: 1px solid #999999;
}

#prospective-clients {
	margin: 0px !important;
}

#client-category-contents {
	margin: 40px 0 0 0;
}


/* Clients Loader View */
#all-clients-loader {
	padding: 20px;
	background-color: #f8f8f8;
	border: 1px solid #e9e9e9;
	width: 360px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#all-clients-loader img {
	width: 20px;
	display: block;
	margin: 0 auto;
}


/* Clients Category View */
#all-clients-table {
	border: 1px solid #cccccc;
	border-collapse: collapse;
	margin: 0 0 20px 0;
}

#no-clients {
	margin: 0 0 20px 0;
}

#all-clients-table th,td { 
	border: 1px solid #cccccc;
	vertical-align: top;
	text-align: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#all-clients-table th {
	padding: 8px;
	background-color: #f8f8f8;
	font-weight: normal;
	color: black;
}

#all-clients-table td {
	padding: 6px;
}

#all-clients-table td i {
	cursor: pointer;
}

.client-header-name {
	width: 150px;
}

.client-header-edit {
	width: 130px;
	text-align: center;
}

.client-header-edit-buttons {
	overflow: hidden;
}

.client-delete-button {
	float: left;
}

.client-items-button {
	float: right;
}

.client-info-button {
	float: right;
	margin: 0 20px 0 0;
}

.client-local-loader {
	display: block;
	width: 20px;
	margin: 0 auto 0 auto;
}

.client-confirm-delete {
	margin: 30px 0 0 0;
	display: none;
}

.client-confirm-delete-header {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #cccccc;
	color: black;
	padding: 4px;
	text-align: center;
}

.client-confirm-delete-controls {
	overflow: hidden;
	margin: 10px 0 0 0;
}

.client-confirm-delete-yes {
	float: left;
	width: 30px;
	cursor: pointer;
	background-color: #cccccc;
	color: black;
	padding: 4px;
}

.client-confirm-delete-no {
	float: right;
	width: 30px;
	cursor: pointer;
	background-color: #FF717E;
	color: white;
	padding: 4px;
}

#add-save-client {
	overflow: hidden;
	position: relative;
	clear: both;
	margin: 25px 0 20px 0;	
}

#add-client {
	float: left;
	margin: 0 30px 0 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #E9E9E9;
	color: black;
	padding: 3px;
	width: 100px;
	float: left;
	text-align: center;
	border: 1px solid #cccccc;
	cursor: pointer;
}

#save-new-client {
	display: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #139DE8;
	color: white;
	padding: 3px;
	width: 100px;
	float: left;
	text-align: center;
	border: 1px solid #139DE8;
	cursor: pointer;
}

#cancel-new-client {
	float: right;
	display: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #E9E9E9;
	color: black;
	padding: 3px;
	width: 100px;
	text-align: center;
	border: 1px solid #cccccc;
	cursor: pointer;
}

#add-save-client-error {
	display: none;
	background-color: #FF717E;
	color: white;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 2px;
}


/* New Client View */
.new-client-container { 

}

.new-client-form-container {
	border: 1px solid #cccccc;
	padding: 8px;
	margin: 0 0 20px 0;
	position: relative;
	background-color: #f8f8f8;
}

.new-client-wrong-parameter {
	color: #FF717E !important;
}

.new-client-form-input {
	overflow: hidden;
	margin: 0 0 10px 0;
}

.new-client-form-input label {
	float: left;
	width: 25%;
}

.new-client-form-input input[type='text'], .new-client-form-input textarea {
	float: left;
	border: 1px solid #cccccc;
	resize:none;
	outline: none;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	width: 75%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 2px;
}

.new-client-items-container {
	overflow: hidden;
}

.new-client-items-header {
	width: 25%;
	float: left;
}

.new-client-items-options {
	float: left;
	width: 75%;
}

.new-client-items-option {
	margin: 0 0 2px 0;
}

.new-client-items-option input[type="radio"] {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

#new-client-existing-clients {
	display: none;
	padding: 2px;
	font-size: inherit;
	font-family: inherit;
	border: 1px solid #cccccc;
	margin: 5px 0 5px 20px;
	outline: none;
}

#new-client-items-existing-options {
	display: none;
	margin: 0 0 0 20px;
}

.new-client-form-error {
	display: none;
	margin: 10px 0 0 0;
	background-color: #FF717E;
	color: white;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 3px;
}



/* Client Items View */
#client-all-items {
	position: absolute;
	overflow: hidden;
}

#client-all-items-pointer {
	color: inherit !important;
	margin: 8px 20px 0 0;
	float: left;
}

#client-items-table-container {
	float: left;
	margin: 0 0 25px 0;
}

#client-items-table {
	border: 1px solid #cccccc;
	border-collapse: collapse;
}

#client-items-table th,td { 
	border: 1px solid #cccccc;
	vertical-align: top;
	text-align: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#client-items-table th {
	padding: 6px;
	background-color: #f8f8f8;
	font-weight: normal;
	color: black;
}

#client-items-table td {
	padding: 6px;
}

#client-items-table td input[type="text"] {
	border: 1px solid #cccccc;
	resize:none;
	outline: none;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 2px;
}

#client-items-table td i {
	cursor: pointer;
}

.client-items-header-name {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	text-overflow: ellipsis;
}

.client-items-header-variety {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	text-overflow: ellipsis;
}

.client-items-header-unit {
	width: 80px;
	min-width: 80px;
	max-width: 80px;
	text-overflow: ellipsis;
}

.client-items-header-discount {
	width: 70px;
}

.client-items-header-price {
	width: 60px;
}

.client-item-parameter-error {
	display: none;
	margin: 10px 0 0 0;
	background-color: #FF717E;
	color: white;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 3px;
}

.client-items-org-price-container {
	padding: 2px;
	margin: 7px 0 0 0;
	background-color: #fbf4c3;
}

.client-items-org-price { 
	font-size: 11px;
}

.client-items-price-ts { 
	font-size: 9px;
	color: #999999;
}

.client-items-header-price-category {
	width: 80px;
	min-width: 80px;
	max-width: 80px;
}

.client-items-header-edit {
	width: 100px;
	text-align: center;
}

.client-item-row-delete {

}

.client-item-local-loader {
	display: block;
	width: 20px;
	margin: 0 auto 0 auto;
}

.client-item-confirm-delete {
	margin: 20px 0 0 0;
	display: none;
}

.client-item-confirm-delete-header {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #cccccc;
	color: black;
	padding: 4px;
	text-align: center;
}

.client-item-confirm-delete-controls {
	overflow: hidden;
	margin: 10px 0 0 0;
}

.client-item-confirm-delete-yes {
	float: left;
	width: 30px;
	cursor: pointer;
	background-color: #cccccc;
	color: black;
	padding: 4px;
}

.client-item-confirm-delete-no {
	float: right;
	width: 30px;
	cursor: pointer;
	background-color: #FF717E;
	color: white;
	padding: 4px;
}

#client-items-main-error {
	position: relative;
	clear: both;
	display: none;
	margin: 0 0 15px 0;
	background-color: #FF717E;
	color: white;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 3px;
}

#save-new-client-items {
	position: relative;
	clear: both;
	display: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #139DE8;
	color: white;
	padding: 4px;
	width: 100px;
	text-align: center;
	border: 1px solid  #139DE8;
	cursor: pointer;
	margin: 0 0 20px 0;
}

#add-save-more-client-items {
	overflow: hidden;
	position: relative;
	clear: both;
	padding: 0 0 50px 0;
}

#add-more-client-items {
	float: left;
	margin: 0 50px 0 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #E9E9E9;
	color: black;
	padding: 4px;
	width: 100px;
	float: left;
	text-align: center;
	border: 1px solid #cccccc;
	cursor: pointer;
}

#client-communicate {
	float: left;
	margin: 0 50px 0 0;
}

#client-communicate-button {
	width: 100px;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #E9E9E9;
	border: 1px solid #cccccc;
	color: black;
	padding: 4px;
	cursor: pointer;
}

#client-communicate-options {
	width: 100px;
	vertical-align: top;
}

#client-communicate-options div {
	margin: 0 0 10px 0;
}

#client-communicate input[type="checkbox"] {
	margin: 0 10px 0 0;
	padding: 0px;
	vertical-align: middle;
}

#client-communicate-proceed {
	width: 90px;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: white;
	background-color: #139DE8;
	padding: 3px;
	cursor: pointer;
	vertical-align: top;
}

#client-items-download-excel-container { 
	width: 130px;
	float: left;
}

#client-items-download-excel {
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #E9E9E9;
	border: 1px solid #cccccc;
	color: black;
	padding: 4px;
	cursor: pointer;
}

#client-items-download-link {
	display: block;
	margin: 10px 0 0 0;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: #139DE8;
}

#client-items-download-link:hover {
	text-decoration: underline;
}

#close-client-items {
	float: right;
	padding: 3px 6px;
	border: 1px solid #cccccc;
	background-color: #e9e9e9;
	cursor: pointer;
	color: #777777;
}

#save-client-items-discounts {
	position: fixed;
	width: 100px;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: white;
	background-color: #139DE8;
	padding: 4px;
	cursor: pointer;
	display: none;
}


/* Client New Item View */
.client-new-item-row {
	background-color: #f8f8f8;
	color: black;
}

.client-new-item-row td { 
	padding-left: 4px !important;
	padding-right: 4px !important;
}

.client-new-item-row td select { 
	border: 1px solid #cccccc;
	padding: 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
}

.client-new-item-name-container {

}

#client-item-suggestions {
	position: absolute;
	z-index: 1005;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: white;
	overflow: hidden;
}

#suggestions-no-items {
	padding: 4px 0px;
	margin: 8px 0 0 10px;
	float: left;
	color: #FF717E;
}

.client-item-suggestion {
	padding: 1px 4px;
	background-color: #58CFFF;
	color: white;
	margin: 8px 0 0 10px;
	cursor: pointer;
	float: left;
}


/* Client Info View */
#client-info-container {
	position: absolute;
	overflow: hidden;
}

#client-info-pointer {
	color: inherit !important;
	margin: 8px 20px 0 0;
	float: left;
}

#client-info {
	border: 1px solid #cccccc;
	padding: 8px;
	margin: 0 0 20px 0;
	position: relative;
	background-color: #f8f8f8;
	margin: 0 0 50px 0;
	float: left;
	width: 300px;
}

.client-info-wrong-parameter {
	border: 1px solid #FF717E !important;
}

.client-info-form-input {
	overflow: hidden;
	margin: 0 0 10px 0;
}

.client-info-form-input label { 
	float: left;
	width: 35%;
}

.client-info-form-input input[type='text'], .client-info-form-input textarea { 
	float: left;
	border: 1px solid #cccccc;
	resize:none;
	outline: none;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	width: 65%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 3px;
}

#save-client-info-container {
	margin: 20px 0 0 0;
}

#save-client-info {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #139DE8;
	color: white;
	padding: 2px;
	width: 85px;
	display: inline-block;
	text-align: center;
	border: 1px solid #139DE8;
	cursor: pointer;
}

#client-info-error {
	display: none;
	margin: 10px 0 0 0;
	background-color: #FF717E;
	color: white;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 3px;
}
